
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrator</title>
        <link rel="stylesheet" href="/css/styleadmin.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>



<div class="body">



    <div class="container">

        <div class="menu">
            
            <a href="../index.html"><img class="image" src="/img/breaknew.png"></a>
            
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-1 my-sm-0" type="submit"><i class="fas fa-search" style="font-size: 24px;"></i></button>
                </form>
            </li>
        <li class="nav-item">
                <a class="nav-link btn-outline-success " href="/admin" ><i class="fas fa-bars" ></i> Quản lý chuyên mục</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-success " href="/admin/tags"  ><i class="fas fa-tags"></i> Quản lý tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-success active" href="/admin/posts" > <i class="far fa-newspaper"></i> Quản lý bài viết</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link btn-outline-success " href="/admin/users"  ><i class="fas fa-users"></i> Quản lý danh sách người dùng</a>
            </li>       
        </div>

        <div class="content">
            <div class="top-bar d-flex justify-content-end">
                    <div class="dropdown  userbutton">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="#" class="btn">
                                <i class="fas fa-user fa-x"></i>
                                </a>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
                                <a class="dropdown-item" href="#"><i class="fas fa-info justify-content-start"></i>Thông tin tài khoản</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-user-cog justify-content-start"></i>Cập nhật thông tin</a>
                                <hr>
                                <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt justify-content-start"></i>Đăng xuất</a>
                            </div>
                        </div>  
                <a href="#" class="btn btn-info btn-lg">
                    <i class="fas fa-sign-out-alt"></i> Sign out
                </a>
            </div>
            <br>
                <div class="card">
                         <br>
                            <ul class="nav nav-tabs d-flex justify-content-center">
                                  <li class="nav-item ">
                                    <a class="nav-link " href="/admin/posts">Bài viết chưa xuất bản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/admin/posts/refuselist">Bài viết đã xuất bản</a>
                                </li>
                            </ul>
                        <br>
                        <div class="card" style="width: auto">
                            <div class="card-header d-flex justify-content-between"><h2 class="text-success">Danh sách bài viết</h2>  <a class="btn btn-outline-success" href="/admin/posts/add" role="button"> <i class="fas fa-plus-circle fa-2x "></i></a></div>
                            <div class="card-body">
                                <div class="wrapper-editor">
                                    <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-center th-sm">PostID</th>
                                                    <th scope="col" class="text-center th-sm">Tiêu đề</th>
                                                    <th scope="col" class="text-center th-sm">Tóm tắt</th>
                                                    <th scope="col" class="text-center th-sm">Chuyên mục</th>
                                                     <th scope="col" class="text-center th-sm">Tag</th>  
                                                    <th scope="col" class="text-center th-sm">Trạng thái</th>  
                                                     <th scope="col" class="text-center th-sm">Chi tiết</th>  
                                                     <th scope="col" class="text-center th-sm">Thao tác</th>  
                                                     <th scope="col" class="text-center th-sm">Thu hồi</th>  
                                                </tr>
                                            </thead>
                                            <tbody>                           
                                                {{#each this.posts}}
                                                    <tr>
                                                        <td class="text-center"><pre>{{postID}}</pre></td>
                                                        <td class="text-center"><pre>{{postTieuDe}}</pre></td>
                                                        <td class="text-center"><pre>{{postTomTat}}</pre></td>
                                                        <td class="text-center"><pre>{{cateName}}</pre></td>
                                                         <td class="text-center"><pre>{{tagName}}</pre></td>
                                                         <td class="text-center"><pre>{{postTrangThaiID}}</pre></td>
                                                         <td class="text-center"> <a  class="btn btn-primary btn-rounded btn-sm my-0" href="/writer/show/{{postID}}">Xem chi tiết</a></td>
                                                         <td class="text-center">
                                                            <a class="btn btn-rounded btn-primary btn-sm remove-first-tr d-inline" href="/admin/posts/update/{{postID}}" type="button"> <i class="fas fa-edit"></i></a>   
                                                            <a class="btn btn-rounded btn-danger btn-sm remove-first-tr d-inline" href="/admin/posts/delete/{{postID}}" type="button"> <i class="fas fa-eraser"></i></a>            
                                                        </td>     
                                                        <td class="text-center"> <a  class="btn btn-warning btn-rounded btn-sm my-0" href="/admin/posts/rollback/{{postID}}">Thu hồi</a></td>  
                                                    </tr> 
                                                {{/each}}
                                            </tbody>                                                             
                                    </table>
                                </div>


                            </div>
                            {{!-- endddddddddddddd --}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <nav aria-label="...">
                                    <ul class="pagination   d-flex justify-content-center">
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                        {{#each this.pages}}
                                        {{#if active}}
                                        <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                                        </li>
                                        {{else}}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                                        </li>
                                        {{/if}}
                                        {{/each}}
                                        <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                    </nav>
                                </div>
                            </div>
                            {{!-- endddddddddddddddddd --}}
                        </div>

                </div>
        </div>

    </div>
        
        <div class="footer">
            <footer class="page-footer font-small unique-color-dark">

                    <div style="background-color: #6351ce;">
                        <div class="container">
                
                        <!-- Grid row-->
                        <div class="row py-4 d-flex align-items-center">
                
                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0">Liên hệ chúng tôi tại</h6>
                            </div>
                            <!-- Grid column -->
                
                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-7 text-center text-md-right">
                
                            <!-- Facebook -->
                            <a class="fb-ic" href="#">
                                <i class="fab fa-facebook-f white-text mr-4"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic" href="#">
                                <i class="fab fa-google-plus-g white-text mr-4"> </i>
                            </a>
                                <!--Instagram-->
                            <a class="ins-ic" href="#">
                                <i class="fab fa-instagram white-text"> </i>
                            </a>
                
                            </div>
                            <!-- Grid column -->
                
                        </div>
                        <!-- Grid row-->
                
                        </div>
                    </div>
                
                    <!-- Footer Links -->
                    <div class="container text-center text-md-left mt-5">
                
                        <!-- Grid row -->
                        <div class="row mt-3">
                
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                
                            <!-- Content -->
                            <h6 class="text-uppercase font-weight-bold">Team đồ án web No.41</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>Đồ an báo điện tử của bộ môn phát triển ứng dụng web.</p>
                
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Về chúng tôi</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                            <a href="#!">Giới thiệu</a>
                            </p>
                            <p>
                            <a href="#!">Khó khăn</a>
                            </p>
                            <p>
                            <a href="#!">Thuận lợi</a>
                            </p>
                
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Về đồ án</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                            <a href="#!">Giới thiệu</a>
                            </p>
                            <p>
                            <a href="#!">Tiến độ</a>
                            </p>
                            <p>
                            <a href="#!">Nguồn tham khảo</a>
                            </p>
                            <p>
                            <a href="#!">Hướng dẫn</a>
                            </p>
                
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                            <i class="fas fa-home mr-3"></i> Trường Đại học Khoa học Tự nhiên TPHCM</p>
                            <p>
                            <i class="fas fa-envelope mr-3"></i> leonthaibao@gmail.com</p>
                            <p>
                            <i class="fas fa-phone mr-3"></i> 0789 578 259</p>
                
                
                        </div>
                        <!-- Grid column -->
                
                        </div>
                        <!-- Grid row -->
                
                    </div>
                    <!-- Footer Links -->
                    
            </footer>           
    </div>





</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>