<div class="card">
  <h5 class="card-header">Cập nhật tag</h5>
  {{#if this.error}}
        <div class="alert alert-warning" role="alert">
            Invalid tagID, Try again@@@@@@@@@@@@@@
        </div>
  {{else}}
    <div class="card-body">
            <form method="POST" action="/admin/tags/update">
            <div class="form-group">
                    <label for="inputID">ID tag</label>
                    <input readonly type="text" required="required" class="form-control" id="inputID" name="inputtagID" aria-describedby="emailHelp" autofocus placeholder="Tag ID" value="{{this.tag.tagID}}">
                </div>
                <div class="form-group">
                    <label for="inputName">Tên tag</label>
                    <input type="text" required="required" class="form-control" id="inputName" name="inputtagName" aria-describedby="emailHelp" autofocus placeholder="Tên tag" value="{{this.tag.tagName}}">
                </div>
                <div class="form-group">
                    <label for="inputSoBaiViet">Số bài viết</label>
                    <input type="number" required="required" class="form-control" id="inputSoBaiViet" name="inputtagSoBaiViet" placeholder="Số bài viêt"  value="{{this.tag.tagSoBaiViet}}">
                </div>
                <div class="form-group">
                    <label for="inputLink">Link</label>
                    <input type="text" required="required" class="form-control" id="inputLink" name="inputtagLink" placeholder="link.."  value="{{this.tag.tagLink}}">
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>&nbsp; Sửa</button>
                    <a role="button" href="/admin/tags" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp; Trở lại</a>
                </div>
            </form>
    </div>
  {{/if}}
</div>