{{#section 'css'}}
    <link rel="stylesheet" href="/css/styleadmin.css" type="text/css">
{{/section}}




<div class="container">

    <div class="menu">
        
        <a href="../index.html"><img class="image" src="/img/breaknew.png"></a>
        
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-1 my-sm-0" type="submit"><i class="fas fa-search" style="font-size: 24px;"></i></button>
            </form>
        </li>
         <li class="nav-item">
            <a class="nav-link btn-outline-success " href="/admin" ><i class="fas fa-bars" ></i> Quản lý chuyên mục</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-success active" href="/admin/tags"  ><i class="fas fa-tags"></i> Quản lý tags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-success " href="/admin/posts" > <i class="far fa-newspaper"></i> Quản lý bài viết</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link btn-outline-success " href="/admin/users"  ><i class="fas fa-users"></i> Quản lý danh sách người dùng</a>
        </li>         
    </div>

    <div class="content">
        <div class="top-bar d-flex justify-content-end">
                <div class="dropdown  userbutton">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a href="#" class="btn">
                            <i class="fas fa-user fa-x"></i>
                            </a>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            
                            <a class="dropdown-item" href="#"><i class="fas fa-info justify-content-start"></i>Thông tin tài khoản</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-user-cog justify-content-start"></i>Cập nhật thông tin</a>
                            <hr>
                            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt justify-content-start"></i>Đăng xuất</a>
                        </div>
                    </div>  
            <a href="#" class="btn btn-info btn-lg">
                <i class="fas fa-sign-out-alt"></i> Sign out
            </a>
        </div>
        <br>
        <div class="view-content">
            <div class="card">

                    
                    <br>
                   <h5 class="card-header">Xóa tag</h5>
                    {{#if this.error}}
                            <div class="alert alert-warning" role="alert">
                                Invalid tagID, Try again@@@@@@@@@@@@@@
                            </div>
                    {{else}}
                        <div class="card-body">
                                <div class="alert alert-warning" role="alert">
                                    Bạn có muốn xóa nội dung bên dưới
                                </div>
                                <form method="POST" action="/admin/tags/delete">
                                <div class="form-group">
                                        <label for="inputID">ID chuyên mục</label>
                                        <input readonly type="text" required="required" class="form-control" id="inputID" name="inputtagID" aria-describedby="emailHelp" autofocus placeholder="ID tag" value="{{this.tag.tagID}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Tên chuyên mục</label>
                                        <input readonly type="text" required="required" class="form-control" id="inputName" name="inputtagName" aria-describedby="emailHelp" autofocus placeholder="Tên tag" value="{{this.tag.tagName}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSoBaiViet">Số bài viết</label>
                                        <input readonly type="number" required="required" class="form-control" id="inputSoBaiViet" name="inputtagSoBaiViet" placeholder="Số bài viêt"  value="{{this.tag.tagSoBaiViet}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLink">Link</label>
                                        <input readonly type="text" required="required" class="form-control" id="inputLink" name="inputtagLink" placeholder="link.."  value="{{this.tag.tagLink}}">
                                    </div>
                                    <div class="form-group d-flex justify-content-between">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-check"></i>&nbsp; Xóa</button>
                                        <a role="button" href="/admin/tags" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp; Trở lại</a>
                                    </div>
                                </form>
                        </div>
                    {{/if}}
                    {{!-- //end --}}
            </div>
        </div>
    </div>

</div>
    
    <div class="footer">
        <footer class="page-footer font-small unique-color-dark">

                <div style="background-color: #6351ce;">
                    <div class="container">
            
                    <!-- Grid row-->
                    <div class="row py-4 d-flex align-items-center">
            
                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Liên hệ chúng tôi tại</h6>
                        </div>
                        <!-- Grid column -->
            
                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-7 text-center text-md-right">
            
                        <!-- Facebook -->
                        <a class="fb-ic" href="#">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic" href="#">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                            <!--Instagram-->
                        <a class="ins-ic" href="#">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>
            
                        </div>
                        <!-- Grid column -->
            
                    </div>
                    <!-- Grid row-->
            
                    </div>
                </div>
            
                <!-- Footer Links -->
                <div class="container text-center text-md-left mt-5">
            
                    <!-- Grid row -->
                    <div class="row mt-3">
            
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
                        <!-- Content -->
                        <h6 class="text-uppercase font-weight-bold">Team đồ án web No.41</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>Đồ an báo điện tử của bộ môn phát triển ứng dụng web.</p>
            
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Về chúng tôi</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                        <a href="#!">Giới thiệu</a>
                        </p>
                        <p>
                        <a href="#!">Khó khăn</a>
                        </p>
                        <p>
                        <a href="#!">Thuận lợi</a>
                        </p>
            
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Về đồ án</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                        <a href="#!">Giới thiệu</a>
                        </p>
                        <p>
                        <a href="#!">Tiến độ</a>
                        </p>
                        <p>
                        <a href="#!">Nguồn tham khảo</a>
                        </p>
                        <p>
                        <a href="#!">Hướng dẫn</a>
                        </p>
            
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                        <i class="fas fa-home mr-3"></i> Trường Đại học Khoa học Tự nhiên TPHCM</p>
                        <p>
                        <i class="fas fa-envelope mr-3"></i> leonthaibao@gmail.com</p>
                        <p>
                        <i class="fas fa-phone mr-3"></i> 0789 578 259</p>
            
            
                    </div>
                    <!-- Grid column -->
            
                    </div>
                    <!-- Grid row -->
            
                </div>
                <!-- Footer Links -->
                
        </footer>           
</div>








<div class="card">
  <h5 class="card-header">Xóa tag</h5>
  {{#if this.error}}
        <div class="alert alert-warning" role="alert">
            Invalid tagID, Try again@@@@@@@@@@@@@@
        </div>
  {{else}}
    <div class="card-body">
            <div class="alert alert-warning" role="alert">
                Bạn có muốn xóa nội dung bên dưới
            </div>
            <form method="POST" action="/admin/tags/delete">
            <div class="form-group">
                    <label for="inputID">ID chuyên mục</label>
                    <input readonly type="text" required="required" class="form-control" id="inputID" name="inputtagID" aria-describedby="emailHelp" autofocus placeholder="ID tag" value="{{this.tag.tagID}}">
                </div>
                <div class="form-group">
                    <label for="inputName">Tên chuyên mục</label>
                    <input readonly type="text" required="required" class="form-control" id="inputName" name="inputtagName" aria-describedby="emailHelp" autofocus placeholder="Tên tag" value="{{this.tag.tagName}}">
                </div>
                <div class="form-group">
                    <label for="inputSoBaiViet">Số bài viết</label>
                    <input readonly type="number" required="required" class="form-control" id="inputSoBaiViet" name="inputtagSoBaiViet" placeholder="Số bài viêt"  value="{{this.tag.tagSoBaiViet}}">
                </div>
                <div class="form-group">
                    <label for="inputLink">Link</label>
                    <input readonly type="text" required="required" class="form-control" id="inputLink" name="inputtagLink" placeholder="link.."  value="{{this.tag.tagLink}}">
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-check"></i>&nbsp; Xóa</button>
                    <a role="button" href="/admin/tags" class="btn btn-primary"><i class="fas fa-arrow-left"></i>&nbsp; Trở lại</a>
                </div>
            </form>
    </div>
  {{/if}}
</div>